.dashboard-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background: #f2f2f2;
  overflow-y: auto;
}
