/* Page background */
.forgot-bg {
  background: #ffffff;
  min-height: 100vh;
}

/* Card */
.forgot-card {
  width: 100%;
  max-width: 900px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
}

/* Input styled like Login/Register */
.forgot-input {
  background: #2f2f2f !important;
  border: none !important;
  padding: 12px 16px 12px 40px !important;
  color: #fff !important;
  border-radius: 10px !important;
  font-size: 15px;
}

.forgot-input::placeholder {
  color: #bbb;
}

.forgot-input:focus {
  outline: none !important;
  box-shadow: none !important;
  background: #2f2f2f !important;
}

/* Button */
.forgot-btn {
  background-color: #5ca9ff !important;
  color: #090a02 !important;
  font-weight: 600;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

/* FIX hover / focus / active turning white */
.forgot-btn:hover,
.forgot-btn:focus,
.forgot-btn:active {
  background-color: #5ca9ff !important;
  color: #1a0503 !important;
  opacity: 0.9;
  box-shadow: none !important;
}

.forgot-btn:hover {
  background-color: #4a97eb !important;
}
